
# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Data & local artifacts
data/*.db
data/*.csv
data/*.parquet
data/*.log

# Jupyter
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
